<%- include('partials/head.ejs')  %> 

<body>
    <%- include('partials/navbar.ejs') %> 
    <div class="container">
        <h1>Browsing the <%= name %> subreddit </h1>
        <p><%= description %> </p>
        <p><%= subscribers %> Total Subscribers</p>
        <hr>
    <% for(let post of posts){ %>
        <div>
            <p><%= post.title %> - <b><%= post.author %></b> </p>
            <span> </span>
            <%   if(post.img){ %>
                <div>
                    <img class="img-fluid" src="<%= post.img %> " alt="<%= post.title %> ">
                </div>
            <%  } %>
        
        </div>
        <% } %>
    </div>
</body>

</html>





