<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %> 
    <div class="container">
        <h1>All the Products</h1>
        <% for(let product of products) { %>
        <div class="card">
            <p> <%= product.name %> </p>
            <p>Description: <%= product.description %> </p>
            <p>$<%= product.price %> </p>    
            <a href="/products/<%=product._id %>">More info</a> 
            <a href="/products/<%=product._id %>/edit">Edit</a>               
        </div>
        <% } %>
    </div>
    
</body>
</html>