<%- include('../partials/head.ejs') %>
<body>
    <%- include('../partials/navbar.ejs') %> 
    <div class="container">
        <h1>All the Products</h1>
        <% for(let product of products) { %>
        <div class="card">
            <p> <%= product.name %> </p>
            <p>Description: <%= product.description %> </p>
            <p>$<%= product.price %> </p>    
            <a class="btn btn-info" href="/products/<%=product._id %>">More info</a> 
            <a class="btn btn-success" href="/products/<%=product._id %>/edit">Edit product</a>
            <form action="/products/<%= product._id%>?_method=DELETE" method="post">
                <button class="btn-danger" type="submit">Delete product</button>
            </form>           
        </div>
        <% } %>
    </div>
    
</body>
</html>